@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Satisfy&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-judul1 {
  font-family: 'Satisfy';
}

.font-judul2 {
  font-family: 'Poppins';
}
.font-text {
  font-family: 'Poppins';
}
